<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duplicate</title>
    <link rel="stylesheet" href="/static/style/duplicateentry.css">
</head>
<body>
<div class="log-form">
    <h2>This login exists in the system</h2>
    <h2>Try one more time</h2>
    <form action="/" method="post">
        <button class="btn" formaction="/login" formnovalidate>Login</button>
        <button class="btn" formaction="/register" formnovalidate>Register</button>
    </form>
</div>
</body>
</html>