<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style/login.css">
</head>
<body>
    <div class="log-form">
        <h2>Login to your account</h2>
        <form action="/check" method="post">
            <input type="text" title="username" placeholder="username"
                   name="login" pattern="[A-Za-z0-9]+" required/>
            <input type="password" title="username" placeholder="password"
                   name="password" pattern="[A-Za-z0-9]+" required minlength="8"/>
            <button type="submit" class="btn">Login</button>
            <button class="btn" formaction="/" formnovalidate>Home</button>
            <a class="forgot" href="#">Forgot Username?</a>
        </form>
    </div>
</body>
</html>