<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style/register.css">
</head>
<body>
<div class="log-form">
    <h2>Register an account</h2>
    <form action="/save" method="post">
        <input name="login" pattern="[A-Za-z0-9]+" placeholder="username"
               required title="username" type="text"/>
        <input minlength="8" name="password" pattern="[A-Za-z0-9]+"
               placeholder="password" required title="username" type="password"/>
        <button class="btn" type="submit">Register</button>
        <button class="btn" formaction="/" formnovalidate>Home</button>
    </form>
</div>
</body>
</html>